body, input, select, button {
	background: #F5F5F5;
	text-align: left;
	font: medium Arial, Helvetica, sans-serif;
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
}

a { color: #0000FF; text-decoration: none }
a:hover { color: #FF0000; text-decoration: underline }

.sect_name { font-weight: bold; }

#header {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #C0C0C0;
	font-weight: bold;
	font-size: 1.25em;
}

#footer {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
/*	border-top: 1px solid #C0C0C0;*/
	font-size: 0.75em;
}

/* For mobile */
@media only screen and (max-device-width: 800px) {
	body {
		width: auto;
		margin-left: 1em;
		margin-right: 1em;
	}
}
