body, input, select, button {
	text-align: left;
	font: medium Arial, Helvetica, sans-serif;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

input, select, button { border: 1px solid; padding: 0.25em; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.header { font-weight: bold; }

.main {
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer { font-size: 0.75em; }

/* For mobile */
@media only screen and (max-width: 800px) {
	body {
		width: auto;
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media (prefers-color-scheme: light) {
	body, input, select, button {
		background: #ffffff;
		color: #202124;
	}

	a { color: #1a0dab; }
}

@media (prefers-color-scheme: dark) {
	body, input, select, button {
		background: #202124;
		color: #bdc1c6;
	}

	a { color: #8ab4f8; }
}
